@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <body onload="myFunction()">
        <p><h1 class="display-4">SOJA---True Love</h1>
        </p>>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </body>
</div>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qj3sku5VapI" allowfullscreen></iframe>"
</div>